extends layout
block script1 
    script(src="domMedicamentos.js", defer)
block script2
    script(src='domFunsionesMedicamentos.js',defer)           
block content   
            select(id="crudMedicamentos", name="crudMedicamentos")
                        option(value="") Elija una opcion
                        option(value="crearMedicamento") Inscribir Medicamento
                        option(value="buscarMedicamentos") Ver todos los Medicamentos
                        option(value="agregarNombreGenerico") Agregar Nombre Generico 
                        option(value="agregarFamilia") Agregar Familia 
                        option(value="agregarCategoria") Agregar Categoria
                        option(value="agregarFormaFarmaceutica") Agregar Forma Farmaceutica 
                        option(value="agregarPresentacion") Agregar Presentacion
            #divAgregarNombreGenerico.ocultar.form 
                label(for="agregarNombreGenerico") Nombre Generico Nuenvo
                input.limpiar(type="text",id="agregarNombreGenerico",autocomplete="of",placeHolder="Nombre Generico Nuevo")
                br
                label(for="familia") Nombre de laFamila
                input.limpiar.ocultar(type="number",id="idFamilia",name="idFamilia",autocomplete="off")
                input.limpiar(type="text", id="familia", name="familia",list="dlFamilia", autocomplete="off")
                datalist#dlFamilia
                br
                label(for="categoria") Nombre de la Categoria
                input.limpiar.ocultar(type="number",id="idCategoria",name="idCategoria",autocomplete="off")
                input.limpiar(type="text", id="categoria" ,name="categoria",list="dlCategoria", autocomplete="off")
                datalist#dlCategoria
                br
                button.boton(type="button",onclick='agregarNombreGenerico()') Agregar
            #divAgregarFamilia.ocultar 
                lavel(for="agregarFamilia") Familia Nueva
                input.limpiar(type="text",id="agregarFamilia",autocomplete="of",placeHolder="Nueva Familia")
                br
                button.boton(type="button",onclick='agregarFamilia()') Agregar
            #divAgregarCategoria.ocultar
                lavel(for="agregarCategoria") Categoria Nueva
                input.limpiar(type="text",id="agregarCategoria",autocomplete="of",placeHolder="Nueva Categoria")
                br
                button.boton(type="button",onclick='agregarCategoria()') Agregar 
            #divAgregarForma.ocultar
                lavel(for="agregarForma") Forma Farmaceutica Nueva
                input.limpiar(type="text",id="agregarForma",autocomplete="of",placeHolder="Nueva Forma")
                br
                button.boton(type="button",onclick='agregarForma()') Agregar
            #divAgregarPresentacion.ocultar
                lavel(for="agregarPresentacion") Presentacion Nueva
                input.limpiar(type="text",id="agregarPresentacion",autocomplete="of",placeHolder="Nueva Presentacion")
                br
                button.boton(type="button",onclick='agregarPresentacion()') Agregar                   
            #divCrearMedicamento.ocultar.crear 
                    form#formularioMedicamentoCrear.form(action="/crearMedicamento", method="POST")
                        
                        label(for="nombreGenerico") Nombre Generico
                        input.limpiar.ocultar(type="number",id="idNombreGenerico",autocomplete="off")
                        input.limpiar(type="text", id="nombreGenerico" ,name="nombreGenerico",autocomplete="off",list="dlNombreGenerico")
                        datalist#dlNombreGenerico
                        br
                       
                        label(for="forma") Nombre de la Forma Farmaceutica
                        input.limpiar.ocultar(type="number",id="idForma",name="idForma",autocomplete="off")
                        input.limpiar(type="text", id="forma" ,name="forma",list="dlForma", autocomplete="off")
                        datalist#dlForma
                        br
                        label(for="presentacion") Nombre de la presentacion
                        input.limpiar.ocultar(type="number",id="idPresentacion",name="idPresentacion",autocomplete="off")
                        input.limpiar(type="text", id="presentacion" ,name="presentacion",list="dlPresentacion", autocomplete="off")
                        datalist#dlPresentacion
                        br
                        input.boton(type="submit", value="Enviar")
                   
            #divBuscarMedicamentos.ocultar
                    table#todosMedicamentos
                        thead#cabecera
                            tr
                                th Id referencial
                                th Id N Gen
                                th Nombre nombre Generico
                                th Estado N Gen
                                th Id Familia
                                th Nombre Familia
                                th Id Categoria 
                                th Nombre Categoria 
                                th Id Forma 
                                th Nombre Forma
                                th Id Presentacion 
                                th Nombre Presentacion
                                th Estado 
                                th Seleccionar
                        tbody#cuerpo  
                               
            #divModificarMedicamento.ocultar
                table#tblMedicamento
                        thead#cabecera2
                            tr
                                th Id referencial
                                th Id N Gen
                                th Nombre nombre Generico
                                th Estado N Gen
                                th Id Familia
                                th Nombre Familia
                                th Id Categoria 
                                th Nombre Categoria 
                                th Id Forma 
                                th Nombre Forma
                                th Id Presentacion 
                                th Nombre Presentacion
                                th Estado 
                        tbody#cuerpo2  
                select(id="modificarMedicamento", name="modificarMedicamento")
                            option(value="") Elija una opcion
                            option(value="estadoNombreGenerico") Modificar Estdo nombre Generico 
                            option(value="nombreGenerico") Modificar Nombre Generico
                            option(value="familia") Modificar Familia 
                            option(value="categoria") Modificar Categoria
                            option(value="forma") Modificar Forma 
                            option(value='presentacion') Modificar Presentacion 
                            option(value="estadoMedicamento") Modificar Estado Medicamento
                #divNuevaForma.ocultar2            
                        label(for="NuevaForma") Nueva Forma 
                        input.limpiar(type="text",id="NuevaForma",name="NuevaForma",placeHolder="Nuevo Forma",list="dlNuevaForma")
                        datalist#dlNuevaForma.limpiar 
                        br
                        button.boton(type="button",onclick='modificarForma()') Modificar
                #divNuevaPresentacion.ocultar2 
                        label(for="nuevaPresentacion") Nueva Presentacion
                        input.limpiar(type="text",id="nuevaPresentacion",name="nuevaPresentacion",placeHolder="Nueva Presentacion",list="dlNuevaPresentacion")
                        datalist#dlNuevaPresentacion.limpiar
                        br 
                        button.boton(type="button",onclick='modificarPresentacion()') Modificar
                #divNuevaFamilia.ocultar2 
                        label(for="nuevaFamilia") Nueva Familia
                        input.limpiar(type="text",id="nuevaFamilia",name="nuevaFamilia",placeHolder="Nueva Familia",list="dlNuevaFamilia")
                        datalist#dlNuevaFamilia.limpiar
                        br 
                        button.boton(type="button",onclick='modificarFamilia()') Modificar
                #divNuevaCategoria.ocultar2
                        label(for="nuevaCategoria") Nueva Categoria
                        input.limpiar(type="text",id="nuevaCategoria",name="nuevaCategoria",placeHolder="Nueva Categoria",list="dlNuevaCategoria")
                        datalist#dlNuevaCategoria.limpiar
                        br 
                        button.boton(type="button",onclick='modificarCategoria()') Modificar
                #divNuevoNombreG.ocultar2
                        label(for="nuevoNombreG") Nueva Categoria
                        input.limpiar(type="text",id="nuevoNombreG",name="nuevoNombreG",placeHolder="Nueva Nombre Generico")
                        br 
                        button.boton(type="button",onclick='modificarNombreG()') Modificar         
                #divEstadoNG.ocultar2 
                        button#botonEstadoNG.boton(type="button",onclick='cambiarEstadoNG()')
                #divEstadoM.ocultar2 
                        button#botonEstadoM.boton(type="button",onclick='cambiarEstadoM()')        

block boton1 
        button.boton(type="button",onclick='volver()') volver 