extends layout
block script1 
    script(src="domPrestaciones.js", defer)
block script2
    script(src='domFunsionesPrestaciones.js',defer)           
block content   
            select(id="crudPrestaciones", name="crudPrestaciones")
                        option(value="") Elija una opcion
                        option(value="crearPrestacion") Inscribir Prestacion
                        option(value="buscarPrestaciones") Ver todos las Prestaciones
                    
            #divCrearPrestacion.ocultar.crear 
                    form#formularioPrestacionCrear.form(action="/crearMedico", method="POST")
                        
                        label(for="nombrePractica") Nombre de la Practica 
                        input.limpiar.ocultar(type="number",id="idPractica",autocomplete="off")
                        input.limpiar(type="text", id="nombrePractica" ,name="nombrePractica",autocomplete="off",list="dlPractica")
                        datalist#dlPractica
                        br
                        label(for="procedimientoPrestacion") Nombre del Procedimiento
                        input.limpiar.ocultar(type="number",id="idProcedimiento",name="idProcedimiento",autocomplete="off")
                        input.limpiar(type="text", id="procedimientoPrestacion", name="procedimientoPrestacion",list="dlProcedimiento", autocomplete="off")
                        datalist#dlProcedimiento
                        br
                        label(for="examenPrestacion") Nombre del Examen 
                        input.limpiar.ocultar(type="number",id="idExamen",name="idExamen",autocomplete="off")
                        input.limpiar(type="text", id="examenPrestacion" ,name="examenPrestacion",list="dlExamen", autocomplete="off")
                        datalist#dlExamen
                        br
                        input.boton(type="submit", value="Enviar")
            #divBuscarPrestacion.ocultar
                    table#todosPrestaciones
                        thead#cabecera
                            tr
                                th Id Practica
                                th Nombre Practica
                                th id Procedimiento
                                th Nombre Procedimiento
                                th Id Examen
                                th Nombre Examen
                               
                        tbody#cuerpo  
                               
            #divModificarPrestacion.ocultar
                table#tblMedico
                        thead#cabecera2
                            tr
                                th Id persona
                                th Id Medico
                                th Dni
                                th Apellido 
                                th Nombre 
                                th Id Profecion
                                th Profecion 
                                th Id Especialidad
                                th Especialidad 
                                th Domicilio 
                                th Matricula 
                                th Id REFEPS
                                th Estado Actual
                        tbody#cuerpo2  
                select(id="modificarPrestacion", name="modificarPrestacion")
                            option(value="") Elija una opcion
                            option(value="estadoMedico") Modificar Estdo Medico
                            option(value="direccionMedico") Modificar direccion Medico 
                            option(value='especialidadMedico') Modificar la Especialidad
                #divNuevoExamen.ocultar2            
                        label(for="nuevoExamen") Nuevo Domicilio 
                        input.limpiar(type="text",id="nuevoExamen",name="nuevoExamen",placeHolder="Nuevo Examen") 
                        br
                        button.boton(type="button",onclick='modificarDireccion()') Modificar
                #divNuevoProcedimiento.ocultar2 
                        label(for="nuevoProcedimiento") Nueva Especialida 
                        input.limpiar(type="text",id="nuevoProcedimiento",name="nuevoProcedimiento",placeHolder="Nueva Procedimiento",list="especialidadNuevas")
                        datalist#especialidadNuevas
                        br 
                        button.boton(type="button",onclick='modificarEspecialidad()') Modificar
                #divEstado.ocultar2 
                        button#botonEstado.boton(type="button",onclick='cambiarEstado()')
block boton1 
        button.boton(type="button",onclick='volver()') volver                


                   
                    
                        