extends layout
block script1 
       script(src="domAcceso1.js", defer)      
block content                    

                   
            button.boton(type="button", onclick="redireccionarMedicamentos()") Acceder a medicamentos 
            button.boton(type="button", onclick="redireccionarMedicos()") Acceder a Profesionales

            
        
                p#errLogin.ocultar= errLogin

block boton1 
        button.boton(type="button",onclick='volver()') volver           
