extends layout
block script1 
    script(src="domAcceso1.js",defer)       
block content                    

            p#p hola        
            button.boton(type="button", onclick="redireccionar()") Acceder a medicamentos 
            button.boton(type="button", onclick="redireccionar()") Acceder a Profesionales

            
        
                p#errLogin.ocultar= errLogin

           
