extends layout
block script1 
    script(src="domMedicamentos.js", defer)
block script2
    script(src='domFunsionesMedicamentos.js',defer)           
block content   
            select(id="crudMedicamentos", name="crudMedicamentos")
                        option(value="") Elija una opcion
                        option(value="crearMedicamento") Inscribir Medicamento
                        option(value="buscarMedicamentos") Ver todos los Medicamentos
                        option(value="agregarNombreGenerico") Agregar Nombre Generico 
                        option(value="agregarFamilia") Agregar Familia 
                        option(value="agregarCategoria") Agregar Categoria
                        option(value="agregarFormaFarmaceuyica") Agregar Forma Farmaceutica 
                        option(value="agregarPresentacion") Agregar Presentacion
            #divAgregarNombreGenerico.ocultar 
                lavel(for="agregarNombreGenerico") Nombre Generico Nuenva
                input.limpiar(type="text",id="agregarNombreGenerico",autocomplete="of")
                button.boton(type="button",onclick='agregarNombreGenerico()') Agregar
            #divAgregarFamilia.ocultar 
                lavel(for="agregarFamilia") Familia Nueva
                input.limpiar(type="text",id="agregarFamilia",autocomplete="of")
                button.boton(type="button",onclick='agregarFamilia()') Agregar
            #divAgregarCategoria.ocultar
                lavel(for="agregarCategoria") Categoria Nueva
                input.limpiar(type="text",id="agregarCategoria",autocomplete="of")
                button.boton(type="button",onclick='agregarCategoria()') Agregar 
            #divAgregarForma.ocultar
                lavel(for="agregarForma") Forma Farmaceutica Nueva
                input.limpiar(type="text",id="agregarForma",autocomplete="of")
                button.boton(type="button",onclick='agregarForma()') Agregar
            #divAgregarPresentacion.ocultar
                lavel(for="agregarPresentacion") Presentacion Nueva
                input.limpiar(type="text",id="agregarPresentacion",autocomplete="of")
                button.boton(type="button",onclick='agregarPresentacion()') Agregar                   
            #divCrearMedicamento.ocultar.crear 
                    form#formularioMedicamentoCrear.form(action="/crearMedico", method="POST")
                        
                        label(for="nombreGenerico") Nombre Generico
                        input.limpiar.ocultar(type="number",id="idNombreGenerico",autocomplete="off")
                        input.limpiar(type="text", id="nombreGenerico" ,name="nombreGenerico",autocomplete="off",list="dlNombreGenerico")
                        datalist#dlNombreGenerico
                        br
                        label(for="familia") Nombre del Procedimiento
                        input.limpiar.ocultar(type="number",id="idProcedimiento",name="idProcedimiento",autocomplete="off")
                        input.limpiar(type="text", id="familia", name="familia",list="dlFamilia", autocomplete="off")
                        datalist#dlFamilia
                        br
                        label(for="examenPrestacion") Nombre del Examen 
                        input.limpiar.ocultar(type="number",id="idExamen",name="idExamen",autocomplete="off")
                        input.limpiar(type="text", id="examenPrestacion" ,name="examenPrestacion",list="dlExamen", autocomplete="off")
                        datalist#dlExamen
                        br
                        input.boton(type="submit", value="Enviar")
            #divBuscarPrestacion.ocultar
                    table#todosPrestaciones
                        thead#cabecera
                            tr
                                th Id Prestacion
                                th Id Practica
                                th Nombre Practica
                                th id Procedimiento
                                th Nombre Procedimiento
                                th Id Examen
                                th Nombre Examen
                                th Estado 
                                th Seleccionar
                        tbody#cuerpo  
                               
            #divModificarPrestacion.ocultar
                table#tblMedico
                        thead#cabecera2
                            tr
                                th Id Prestacion
                                th Id Practica
                                th Nombre Practica
                                th id Procedimiento
                                th Nombre Procedimiento
                                th Id Examen
                                th Nombre Examen
                                th Estado 
                        tbody#cuerpo2  
                select(id="modificarPrestacion", name="modificarPrestacion")
                            option(value="") Elija una opcion
                            option(value="estadoPrestacion") Modificar Estdo 
                            option(value="procedimientoPrestacion") Modificar Procedimiento 
                            option(value='examenPrestacion') Modificar Examen
                #divNuevoExamen.ocultar2            
                        label(for="nuevoExamen") Nuevo Domicilio 
                        input.limpiar(type="text",id="nuevoExamen",name="nuevoExamen",placeHolder="Nuevo Examen",list="dlExamenNuevo")
                        datalist#dlExamenNuevo.limpiar 
                        br
                        button.boton(type="button",onclick='modificarExamen()') Modificar
                #divNuevoProcedimiento.ocultar2 
                        label(for="nuevoProcedimiento") Nueva Procedimiento
                        input.limpiar(type="text",id="nuevoProcedimiento",name="nuevoProcedimiento",placeHolder="Nueva Procedimiento",list="dlProcedimientosNuevos")
                        datalist#dlProcedimientosNuevos.limpiar
                        br 
                        button.boton(type="button",onclick='modificarProcedimiento()') Modificar
                #divEstado.ocultar2 
                        button#botonEstado.boton(type="button",onclick='cambiarEstado()')
block boton1 
        button.boton(type="button",onclick='volver()') volver 