html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="./icono.png", type="image/x-icon")
        link(rel="stylesheet", href="estilo.css")
        script(src="domFunsiones.js",defer)
        script(src="domPrincipal.js", defer)
        title Integrador Laboratorio-2
    body
      #divPrincipal
          
          #divCabecera
              h1= encabezado
          #divLogo
            img(src="./icons8-medicina-100.png", alt="Logo")
          #divLateral
              button(type="button") Adorno 
              br
              button(type="button") Adorno 
              br
              button(type="button") Adorno 
              br
              button(type="button") Adorno 
          #divAlerta
          #divExito         
          #divSecundario
              

              button.boton.ocultar(type="button", onclick="mostrarFormulario('formularioProfecional')") Realizar receta
              button.boton.ocultar(type="button", onclick="mostrarFormulario('formularioAdministrativo')") Acceder a medicamentos 
              button.boton.ocultar(type="button", onclick="mostrarFormulario('formularioAdministrativoR')") Acceder a Profesionales

              form#formularioLogin(action="/verificarLogin", method="POST", autocomplete="off")
                label(for="usuario") Usuario:
                input.limpiar(type="text", id="usuario",data-name="usuario",placeholder="usuario",autocomplete="off")
                br
                label(for="clave1") Clave:
                input.limpiar(type="password", id="clave1", data-name="clave1",placeholder="clave",autocomplete="off")
                br
                input.boton(type="submit", value="Ingresar")
        
              

             

             
