extends layout
      
block content                    

                   
            button.boton(type="button", onclick="redireccionarMedicamentos()") Acceder a medicamentos 
            button.boton(type="button", onclick="redireccionarMedicos()") Acceder a Profesionales

            
        
                p#errLogin.ocultar= errLogin

           
