extends layout
block script1 
    script(src="domAcceso1.js")
block content                    

                    
            button.boton(type="button", onclick="mostrarFormulario('formularioAdministrativo')") Acceder a medicamentos 
            button.boton(type="button", onclick="mostrarFormulario('formularioAdministrativoR')") Acceder a Profesionales

            
        
                p#errLogin.ocultar= errLogin

           
