extends layout
block script1 
    script(src="domMedicos.js", defer)
          
block content   
            select(id="crudMedico", name="crudMedico")
                        option(value="vacio") Elija una opcion
                        option(value="crearMedico") Inscribir Medico
                        option(value="modificarMedico") Modificar datos de medico 
                        option(value="bajaMedico") Dar de baja a un medico
                        option(value="buscarMedico") Buscar un medico existemte
                    
            #divCrearMedico.ocultar 
                    form#formularioProfecionalCrear.form(action="/crearMedico", method="POST")
                        label(for="dniProfecional") DNI del Profecional:
                        input#dniProfecional.limpiar(name="dniProfecional",type="number")    
                        br
                        label(for="nombreProfecionl") Nombre del profecional 
                        input.limpiar(type="text", id="nombreProfecional" ,name="nombreProfecional")
                        br
                        label(for="apellidoProfecional") Apellido  del Profecional:
                        input.limpiar(type="text", id="apellidoProfecional", name="apellidoProfecional")
                        br
                        label(for="profecionProfecional") Profecion del profecional 
                        input.limpiar.ocultar(type="number",id="idProfecion",name="idProfecion",autocomplete="off")
                        input.limpiar(type="text", id="profecionProfecional" ,name="profecionProfecional",list="profecion2", autocomplete="off")
                        datalist#profecion2
                        br
                        label(for="especialidadProfecional") Especialidad del Profecional:
                        input.limpiar.ocultar(type="number",id="idEspecialidad",name="idEspecialidad",autocomplete="off")
                        input.limpiar(type="text", id="especialidadProfecional", name="especialidadProfecional",list="especialidad", autocomplete="off")
                        datalist#especialidad
                        br
                        label(for="domicilioProfecionl") Domicilio del profecional 
                        input.limpiar(type="text", id="domicilioProfecional" ,name="domicilioProfecional")
                        br  
                        label(for="refepsProfecional") Identificacion REFEPS:
                        input.limpiar(type="number", id="refepsProfecional", name="refepsProfecional")
                        br
                        label(for="matriculaProfecionl") Matricula del profecional 
                        input.limpiar(type="number", id="matriculaProfecional" ,name="matriculaProfecional")
                        br 
                        label(for="usuarioProvisorio") Usuario Provisorio 
                        input.limpiar(type="text",id="usuarioProvisorio",name="usuarioProvisorio",placeHolder="maximo 6 caracteres") 
                        br  
                        label(for="claveProvisoria") Clave provisoria 
                        input.limpiar(type="text",id="claveProvisoria",name="claveProvisoria",placeHolder="3letras(minimo 1 may)3numeros")
                        br
                        label(for="nivelAutorizacion") Nivel de Autorizacion:
                        input.limpiar(type="number", id="nivelAutorizacion", name="nivelAutorizacion",list="dlNivel", autocomplete="off")
                        datalist#dlNivel 
                        option(value="1")
                        option(value="2")
                        option(value="3")   
                        br
                        br            
                        input.boton(type="submit", value="Enviar")
            #divBuscarMedico.ocultar
            #divModificarMedico.ocultar
            #divBorrarMedico.ocultar
block boton1 
        button.boton(type="button",onclick='volver()') volver                


                   
                    
                        